{% load staticfiles %}
<html>


<head>
  <link href="{% static "css/links.css" %}"rel="stylesheet">
  <title> My links </title>
</head>


<body>



<div>
  <ul>

      <li id="atomlink_bar">
        <img src="http://cnsoup.com/data/out/43/IMW705866788.png"  height="18px" width="18px">
        <strong><p id="atomlink_title"><a href="/">AtomList</a></p></strong>

      </li>

    <li id="header">
      <img src="http://cnsoup.com/data/out/43/IMW705866788.png"  height="60px" width="60px">
      <h2><a href="/">{{ user_info.list_title }}</a></h2>
      <p> {{ user_info.bio }}</p>
    </li>
    {% for link in links %}
    <li >
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/51218-200.png"  height="60px" width="60px">
      <h6><a href="{{ link.destination }}"> {{ link.title }}</a></h4>
      <p>{{ link.description }}</p>
    </li>
    {%  endfor %}
    <hr/>
    <li id="about-atom-link">
      <img src="https://raw.githubusercontent.com/stvhwrd/icons/master/atom/Atom-no_shadows-512.png"  height="60px" width="60px">
      <h3><a href="{{ ad.destination }}"> {{ ad.title }}</a></h3>
      <p>{{ ad.description }}</p>
    </li>

  </ul>
</div>


</body>

</html>
